.content-window {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 65px);
}

/* Starts at 960 px and larger */
@media only screen and (min-width: 960px) {
	.content-window {
		width: calc(100% - 240px);
		margin-left: 240px;
		margin-top: 65px;
	}
}
